services:
  llm-lab:
    image: rameyjm7/llm-preference-unlearning:latest
    container_name: llm-lab
    restart: unless-stopped
    shm_size: "16gb"
    runtime: nvidia
    environment:
      - JUPYTER_TOKEN=tml
      - TOKENIZERS_PARALLELISM=false
      - PYTHONUNBUFFERED=1
    ports:
      - "8888:8888"
    volumes:
      - ./:/workspace
    command: >
      bash -c "jupyter lab
        --ip=0.0.0.0
        --port=8888
        --no-browser
        --allow-root
        --NotebookApp.token=${JUPYTER_TOKEN}"
